.quote{
    font-size: 20px;
    float: right;
    width: 100px;
    background: rgb(121, 173, 180);
    font-weight: normal;
    font-style: italic;
    padding: 13px;
    margin: 0 13px 13px 0;
    
}

blockquote{
    margin: 0;
}

.quote p:first-letter{
    font-size: 30px;
    font-weight: bold;
}